<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net452" />
  <package id="S7netplus" version="0.1" targetFramework="net45" />
</packages>